@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Curso de programacion .NET <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p> Audio S3.</p>
    <p> Precio: 10,000.</p>
    <p> KM: 100.</p>
</div>

